body {
    background-color: black;
}

.app {
    text-align: center;
}

.app_header {
    color: yellow;
}

.film_header,
.character_header {
    color: white;
}

.loading {
    color: yellow;
    font-weight: bold;
    margin: 20px 0;
}
